  body {
    background-color: #EAF6F6;
  }

  hr {
    border-style: none;
    width: 100px;
    border-top: 10px dotted grey;
    }
    h1 {
      color:#66BFBF;
      text-shadow: 6px 6px  10px black;
    }
    h3 {
      color: #66BFBF
    }
  img {
    width: 200px;
    heigth: 200px;
  }
